/*      公共属性
---------------------------------------------------------- */
html, body {width : 100%; margin: 0; padding: 0;}
body {
    width:100%;
    color: #000;
    font-size: 14px;
    background : #F5F5F5;
    font-family: 'lato', "宋体", "新宋体", sans-serif, Arial, Verdana;
    max-width: 1500px;
    min-width: 950px;
    display: block;
}
/*      顶部布局
---------------------------------------------------------- */
#top {
    width: 90%;
    margin-right:auto;
    margin-left:auto;
    padding:0px;
    background:grey;
}
#topTitle {
    width:100%;
    text-align:center;
    background:grey;
    color:#FFDDFF;
    font-size: 3em;
}
/*      主体布局
---------------------------------------------------------- */
#main {
    width:90%;
    min-height: 700px;
    margin-right:auto;
    margin-left:auto;
    position: relative;
    padding:1.2em 0px;
    background: #F5F5F5;
    color: #4D4D4D;
}
#content {width:90%; /*height: 680px;*/ margin-right:auto; margin-left:auto; padding:1em; background:#fff;}
/*大标题*/
#title {font-weight:bold; margin: 0px 0px 0.5em 0px; padding:0.5em 0px 0.5em 1em; font-size:24px; color: #00A06B; text-align:left; border-bottom:solid #9EA3C1 2px;}
.sub {font-weight:bold; margin:0px 0px 0.5em 0px; padding:0.5em 0px 0.5em 1em; font-size:13px; color:#00A06B; text-align:left;}

/*为页面元素启动弹性布局特性*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*border-style:dashed;*/
}

/*响应式布局*/
@media (min-width: 768px) {
    body {
        float: none;
    }
}

/*清除浮动*/
.clean{
    clear:both;
}