.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

small {
    font-size: 0.5em;
}

.responsive-table li {
    border-radius: 3px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.table-header {
    background-color: #95A5A6;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.table-row {
    font-size: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.col-1 {
    flex-basis: 40%;
}

.col-2 {
    flex-basis: 40%;
}

.col-3 {
    flex-basis: 20%;
}
