<?xml version="1.0" encoding="UTF-8" ?>
<!--
作用：使用mybatis实现的接口实现类
日期：2021-04-03
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，包名与接口一致-->
<mapper namespace="mapper.RecommendationMapper">
    <!--id是对应的接口函数名-->
    <select id="getRecommendation" resultType="POJO.Recommendation">
      SELECT * FROM itembasedcf
      WHERE id = 1
      ORDER BY score DESC;
    </select>

    <select id="getRecommendation2" resultType="POJO.Recommendation2">
        SELECT id, movies.title AS recommendation, score
        FROM ${tableName}
        JOIN movies
          ON movieId = recommendation
        WHERE id = #{id}
        ORDER BY score DESC;
    </select>

    <select id="getOne" resultType="POJO.Recommendation2">
        SELECT id, movies.title AS recommendation, score
        FROM ${tableName}
        JOIN movies
          ON movieId = recommendation
        WHERE id = #{id} AND recommendation = #{rec}
        ORDER BY score DESC;
    </select>

    <select id="getNthRecommendation" resultType="POJO.Recommendation2" >
        SELECT id, movies.title AS recommendation, score
        FROM ${tableName}
        JOIN movies
          ON movieId = recommendation
        WHERE id = #{id}
        ORDER BY score DESC
        LIMIT #{Nth}, 1;
    </select>

    <insert id="addRecommendation">
        INSERT INTO ${tableName}(id, recommendation, score)
        VALUES(#{rec.id}, #{rec.recommendation}, #{rec.score});
    </insert>

    <delete id="deleteRecommendation">
        DELETE from ${tableName}
        WHERE id = #{id} AND recommendation = #{rec};
    </delete>

    <update id="updateRecommendation">
        UPDATE ${tableName}
        SET  score = #{rec.score}
        WHERE id = #{rec.id} AND recommendation = #{rec.recommendation};
    </update>
</mapper>